# ignore data\raw folder
data/raw/Negative/*.jpg
data/raw/Positive/*.jpg
data/BreastMNIST/Positive/*.png
data/BreastMNIST/Negative/*.png
checkpoints/*.pth
# checkpoints/*.png
checkpoints/BreastMNIST/*.pth
.env